<!--
/*=========================================================
 *   )      (\_     | WOLFPACK 13.0.0 Scripts
 *  ((    _/{  "-;  | Created by:
 *   )).-' {{ ;'`   | Revised by:
 *  ( (  ;._ \\     | Last modification:
 *=======================================================*/
-->
<!--
	Stuff used internally
-->
<definitions>

	<!-- Worldgem Bits -->
	<item id="1ea7">
		<id>0x1ea7</id>
	</item>

	<item id="1f13">
		<id>0x1f13</id>
	</item>

	<!-- Corpse -->
	<item id="2006">
		<id>0x2006</id>
		<type>1</type> <!-- Absolutly Neccesary -->
	</item>

	<!-- Spawngem -->
	<item id="spawngem" inherit="1f13">
		<invisible />
		<events>spawngem</events>
		<nodecay />
		<movable>2</movable>
	</item>

	<!-- Trash Can -->
	<item id="trashcan">
		<id>0xe77</id>
		<name>trashcan</name>
		<events>trashcan</events>
		<color>0x430</color>
		<nodecay />
		<movable>2</movable>
		<type>1</type>
	</item>

</definitions>
